.container{
        display: flex;
        flex-direction: column;
}

.select{
    border: 1px solid #5997ff;
    background: #d9e7ff;
    padding: 5px 10px;
    border-radius: 10px;
    width: 100%;
}